.thing-form
    margin 20px 0

#banner
    border-bottom none

#banner h1
    font-size 84px
    letter-spacing -1px
    line-height 100px
    position relative

.button-ginormous
  height 90px
  width 90px
  font-size 72px
  font-family 'LuckiestGuy'
  margin-right 16px
  background-image url("../../assets/images/d_small.png")
  background-size 72px 72px
  background-repeat no-repeat
  background-position center center

.button-ginormous:focus
  background-color #00DA3C

.button-ginormous:active
  background-color #00DA3C

.logo-button
  position relative
  top -5px

.hero-unit
    background #FD8603
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
    height 100%
    position absolute
    width 100%

.hero-unit h1
    font-family 'LuckiestGuy', Arial, sans-serif
    margin-top 0

.hero-unit .lead
    font-weight 400
    font-size 32px
    font-family 'Comic Book', Helvetica Neue, Helvetica, Arial

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center

.vertical-container
    height 100%
    display -webkit-flex
    display flex
    -webkit-align-items center
    align-items center
    -webkit-justify-content center
    justify-content center
    flex-direction column
